<form class="form-horizontal" action="/users" method="post">
  <fieldset>
    <legend>
      登录
    </legend>
    <div class="control-group">
      <label class="control-label" for="username">用户名</label>
      <div class="controls">
	<input type="text" id="username" name="username" />
      </div>
    </div>
    <div class="control-group">
      <label class="control-label" for="password">密码</label>
      <div class="controls">
	<input type="password" id="password" name="password"/>
      </div>
    </div>
    <div class="form-actions">
      <input type="submit" class="btn" value="登录"/>
    </div>
  </fieldset>
</form>
