<table class="table table-striped table-bordered">
  <caption>个人综合排名</caption>
  <thead>
    <tr>
      <th>姓名</th>
      <th>学校名称</th>
      <th>临床案例分析得分</th>
      <th>单人徒手心肺复苏得分</th>
      <th>心电监测技术得分</th>
      <th>密闭式静夜输液技术得分</th>
      <th>总成绩</th>
      <th>综合排名</th>
    </tr>
  </thead>
  <tbody>
    <tr id="scores">
      <td id="username">小王</td>
      <td id="college">韶关学院医学院</td>
      <td id="pr1">78</td>
      <td id="pr2">80</td>
      <td id="pr3">80</td>
      <td id="pr4">78</td>
      <td id="total">98</td>
      <td id="rank">2</td>
    </tr>
  </tbody>
</table>
