<table class="table table-striped table-bordered">
  <caption>成绩公布</caption>
  <thead>
    <tr>
      <th>学校名称</th>
      <th>无菌技术基本操作选手1</th>
      <th>选手1得分</th>
      <th>无菌技术基本操作选手2</th>
      <th>选手2得分</th>
      <th><th>无菌技术基本操作总分</th>
      <th>皮内注射（卡介苗接种）选手1</th>
      <th>选手1得分</th>
      <th>皮内注射（卡介苗接种）选手2</th>
      <th>选手2得分</th>
      <th>皮内注射（卡介苗接种）总分</th>
      <th>单人徒手心肺复苏选手1</th>
      <th>选手1得分</th>
      <th>单人徒手心肺复苏选手2</th>
      <th>选手2得分</th>
      <th>理论选手1</th>
      <th>选手1得分</th>
      <th>理论选手2</th>
      <th>选手2得分</th>
      <th>综合总分</th>
      <th>综合排名</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <td>韶关学院医学院</td>
      <td>邓  霞</td>
      <td>80</td>
      <td>罗嘉敏</td>
      <td>85</td>
      <td>90</td>
      <td>邓  霞</td>
      <td>80</td>
      <td>罗嘉敏</td>
      <td>85</td>
      <td>90</td>
      <td>邓  霞</td>
      <td>80</td>
      <td>罗嘉敏</td>
      <td>85</td>
      <td>90</td>
      <td>John</td>
      <td>99</td>
      <td>Smith</td>
      <td>97</td>
      <td>98</td>
      <td>2</td>
    </tr>
    <tr>
      <td>韶关学院医学院</td>
      <td>邓  霞</td>
      <td>80</td>
      <td>罗嘉敏</td>
      <td>85</td>
      <td>90</td>
      <td>邓  霞</td>
      <td>80</td>
      <td>罗嘉敏</td>
      <td>85</td>
      <td>90</td>
      <td>邓  霞</td>
      <td>80</td>
      <td>罗嘉敏</td>
      <td>85</td>
      <td>90</td>
      <td>John</td>
      <td>99</td>
      <td>Smith</td>
      <td>97</td>
      <td>98</td>
      <td>2</td>
    </tr>
    <tr>
      <td>韶关学院医学院</td>
      <td>邓  霞</td>
      <td>80</td>
      <td>罗嘉敏</td>
      <td>85</td>
      <td>90</td>
      <td>邓  霞</td>
      <td>80</td>
      <td>罗嘉敏</td>
      <td>85</td>
      <td>90</td>
      <td>邓  霞</td>
      <td>80</td>
      <td>罗嘉敏</td>
      <td>85</td>
      <td>90</td>
      <td>John</td>
      <td>99</td>
      <td>Smith</td>
      <td>97</td>
      <td>98</td>
      <td>2</td>
    </tr>
  </tbody>
</table>
